.portfolio {
    padding: 100px 0;
    &-title {
        font-size: 32px;
        line-height: 106%;
        color: #333;
        text-align: center;
    }
    &-project {
        position: relative;
        height: 600px;
        max-width: 1200px;
        overflow: hidden;
        border-radius: 16px;
        margin: 0 auto;
        margin-top: 60px;
        font-family: "Montserrat", sans-serif;
        color: #e5e5e5;
        box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
        &-overlay {
            padding: 50px;
            position: absolute;
            height: 800px;
            width: 40%;
            background: rgba(0, 0, 0, 1);
            z-index: 10;
        }
        &-number {
            font-weight: 600;
            font-size: 64px;
        }
        &-name {
            font-size: 40px;
            margin-top: 30px;
        }
        &-descr {
            color: #B1B1B1;
            margin-top: 20px;
        }
        &-skills {
            display: flex;
            position: relative;
            gap: 30px;
            z-index: 15;
            margin-top: 30px;
        }
        &-links {
            display: flex;
            gap: 30px;
            margin-top: 40px;
        }
        &-link {
            display: flex;
            align-items: center;
            font-weight: 500;
            gap: 4px;
        }
        &-img {
            width: 60%;
            position: absolute;
            right: 0;
            z-index: 5;
            transform: translateY(0%);
            &:hover {
                transform: translateY(-85%);
                transition: transform 15s ease-in-out 0s;
              }
        }
    }
}