.promo {
    min-height: 580px;
    &-wrapper {
        display: flex;
        justify-content: center;
        padding-top: 164px;
        gap: 75px;
    }
    &-text {
        max-width: 576px;
    }
    &-hello {
        width: 12ch;
        overflow: hidden;
        font-size: 48px;
        line-height: 267%;
        color: #e5e5e5;
        white-space: nowrap;
        animation: printed-text 2s steps(12);
    }
    &-info {
        margin-top: 26px;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #171717;
    }
    &-avatar {
        border-radius: 4px;
        width: 263px;
        height: 350px;
    }
}

@keyframes printed-text {
    from {
        width: 0%;
    }
}