.header {
    position: fixed;
    min-height: 100px;
    width: 100%;
    background-color: #171717;
    z-index: 20;
    &-wrapper {
        color: #E5E5E5;
        display:flex;
        justify-content: space-between;
        align-items: center;
        min-height: 100px;
    }
    &-frontend {
        font-size: 14px;
        line-height: 193%;
    }
    &-CV {
        font-size: 15px;
        line-height: 193%;
        &:hover {
            color: #B8EFD8;
        }
    }
    &-navigation{
        &-items {
            display: flex;
            gap: 32px;
        }
        &-item {
            font-size: 14px;
            line-height: 133%;
            &:hover {
                color: #B8EFD8;
            }
        }
    }

}